@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* Variables */
:root {
  --primary: #1877f2;
  --secondary: #777;
  --light: #efefef;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

/* Divider */
.divider {
  width: 100%;
  height: 1px;
  background: var(--light);
  margin: 0.9em 0;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: var(--light);
}
::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 99px;
}